annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
beanie==2.1.0
click==8.3.3
colorama==0.4.6
dnspython==2.8.0
fastapi==0.136.1
h11==0.16.0
idna==3.15
lazy-model==0.4.0
pydantic==2.13.4
pydantic-settings==2.11.0
pydantic_core==2.46.4
pymongo==4.17.0
python-decouple==3.8
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
